@model List<string>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Electron Frameless Window</title>
	<style>
		body {
			padding: 0px;
			margin: 0px;
		}

		#title-bar {
			-webkit-app-region: drag;
			height: 40px;
			text-align: center;
			line-height: 40px;
			vertical-align: middle;
			background-color: #C0C3F9;
			padding: none;
			margin: 0px;
		}

		#title {
			position: fixed;
			top: 0px;
			left: 6px;
			color: white;
		}

		#title-bar-btns {
			-webkit-app-region: no-drag;
			position: fixed;
			top: 0px;
			right: 6px;
		}
	</style>
</head>
<body>
	<div id="title-bar">
		<div id="title">
			<span style="vertical-align: middle;">Menu</span>
			Title Bar
		</div>
		<div id="title-bar-btns">
			<button id="min-btn">-</button>
			<button id="max-btn">+</button>
			<button id="close-btn">x</button>
		</div>
	</div>
	<div style="text-align:center;">
		<h4>Page Data Will Be Loaded Here</h4>

	</div>

</body>
</html>